.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.main_container {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ends_container {
  display: block;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 25px;
  background-color: #120b34;
}

.navbar {
  background-color: transparent;
}

.header_link {
  margin-right: 7px;
  margin-left: 7px;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  font-weight: 700;
}

.header_link.w--current {
  color: #3c86e5;
}

._4_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer_top {
  text-align: center;
}

.footer_container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

._4_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
  text-align: left;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._2_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 50px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-menu {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: right;
}

.text-block {
  text-align: center;
}

._3_block_row {
  margin: 50px 0px;
}

._3_block {
  display: inline-block;
  width: 33.3%;
  padding: 7px 15px;
  clear: none;
}

.phone_link {
  float: right;
  clear: right;
  color: #fff;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
}

.e-mail_link {
  float: right;
  clear: right;
  color: #fff;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
}

.dropdown-list {
  background-color: #5170b6;
}

.dropdown-list.w--open {
  background-color: #3c86e5;
}

.dropdown_header_link {
  color: #fff;
  font-weight: 700;
}

.dropdown-list-2 {
  background-color: #3c86e5;
}

.image {
  margin-right: auto;
  margin-left: auto;
}

.heading-3 {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: left;
}

.heading-4 {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.heading-5 {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.paragraph-2 {
  color: #fff;
}

.text-block-2 {
  margin-top: 0px;
  padding-top: 15px;
  color: #fff;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer_link {
  color: #fff;
  text-decoration: none;
}

.footer_link.w--current {
  color: #fff;
}

.link-2 {
  color: #fff;
  text-decoration: none;
}

.link-3 {
  color: #fff;
  text-decoration: none;
}

.link-4 {
  color: #fff;
  text-decoration: none;
}

.link-5 {
  color: #fff;
  text-decoration: none;
}

.link-6 {
  color: #fff;
  text-decoration: none;
}

.link-7 {
  color: #fff;
  text-decoration: none;
}

.list-item {
  color: #fff;
  text-decoration: none;
}

.link-8 {
  color: #fff;
  text-decoration: none;
}

.link-9 {
  color: #fff;
  text-decoration: none;
}

.link-10 {
  color: #fff;
  text-decoration: none;
}

.link-11 {
  color: #fff;
  text-decoration: none;
}

.hero_section {
  height: 100vh;
}

.divide {
  width: 100%;
  height: 1px;
  margin: 21px auto;
  border: 1px solid #fff;
  text-align: left;
}

.hero_h1 {
  margin-top: 234px;
  padding-left: 100px;
  font-family: Gayathri, sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 1.1em;
  font-weight: 700;
}

.hero_para {
  margin-bottom: 25px;
  padding-left: 100px;
  color: #fff;
  font-size: 17px;
  line-height: 1.8em;
}

.mb_button {
  display: block;
  margin-left: 0px;
  padding: 20px 47px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #3c86e5;
  font-weight: 700;
  text-align: center;
}

.explore_section {
  height: auto;
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #f3f3f3;
  color: #f3f3f3;
}

.card_para {
  color: #000;
}

.card_h3 {
  font-family: Gayathri, sans-serif;
  color: #000;
  font-size: 36px;
  line-height: 1.3em;
}

.cta_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.img_block_about_us {
  height: 345px;
  background-image: url('../images/men-meeting.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-11 {
  display: block;
  font-family: Gayathri, sans-serif;
  color: #fff;
  font-size: 55px;
  line-height: 1.1em;
  text-align: center;
}

.cta_block {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog_section {
  height: auto;
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #f3f3f3;
}

.events_section {
  height: 100vh;
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #f3f3f3;
}

.section_h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gayathri, sans-serif;
  font-size: 42px;
  line-height: 1.4em;
  text-align: center;
}

.mini_divide {
  width: 5%;
  height: 1px;
  margin: 25px auto;
  border: 1px solid #3c86e5;
  text-align: left;
}

.visit_section {
  height: auto;
  padding-top: 125px;
  padding-bottom: 125px;
}

.intro_section {
  padding-top: 125px;
  padding-bottom: 125px;
}

.card_bottom {
  padding: 50px;
  background-color: #fff;
}

.img_block_our_missions {
  height: 345px;
  background-image: url('../images/men-gathering.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-2 {
  margin-bottom: 50px;
  padding-top: 0px;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mb_button_margin {
  margin-left: 100px;
  padding: 20px 47px;
  border-radius: 50px;
  background-color: #3c86e5;
  font-weight: 700;
}

.mini_divide_left {
  width: 5%;
  height: 1px;
  margin: 25px 0px;
  border: 1px solid #3c86e5;
  text-align: left;
}

.main_container_ctr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon_img {
  height: 135px;
  margin-right: auto;
  margin-left: auto;
}

.icon_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon_para {
  text-align: center;
}

.footer_li {
  margin-bottom: 15px;
}

._2_link_block {
  width: 40%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-transition: box-shadow 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: box-shadow 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: box-shadow 200ms ease-in, transform 200ms ease-in;
  transition: box-shadow 200ms ease-in, transform 200ms ease-in, -webkit-transform 200ms ease-in;
  text-decoration: none;
}

._2_link_block:hover {
  box-shadow: 1px 1px 7px 1px #000;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.visit_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.visit_icon {
  height: 25px;
  margin-right: 10px;
  margin-left: 0px;
}

.image-3 {
  height: 25px;
  margin-right: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.visit_h6 {
  font-family: Gayathri, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

.column {
  padding-left: 40px;
  border-left: 1px none #f3f3f3;
}

._75_block {
  width: 75%;
}

._25_block {
  width: 25%;
}

.paragraph-3 {
  color: #fff;
}

.paragraph-4 {
  font-family: 'Fa brands 400', sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: right;
}

.columns {
  width: 100%;
}

.column-2 {
  border-right: 1px solid #f3f3f3;
}

.section_temp {
  height: 75vh;
}

.lottie-animation {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.lottie-animation-2 {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
}

.lottie-animation-3 {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 65vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  display: block;
}

.hero_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: url('../images/service.jpg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.hero_block {
  position: relative;
  z-index: 1;
}

.cta_image {
  position: absolute;
  width: 100%;
  height: 600px;
  background-image: url('../images/men-praise.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .main_container {
    width: auto;
    max-width: 1200px;
  }
  .ends_container {
    display: block;
    width: 95%;
  }
  .hero_h1 {
    font-size: 58px;
  }
  .card_h3 {
    font-size: 32px;
  }
  .heading-11 {
    font-size: 50px;
  }
  .section_h2 {
    font-size: 38px;
  }
  .main_container_ctr {
    width: auto;
    max-width: 1200px;
  }
  .icon_img {
    height: 100px;
  }
  ._2_link_block {
    width: 45%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .column {
    padding-left: 10px;
  }
  .column-2 {
    border-bottom: 1px solid #f3f3f3;
    border-right-style: none;
  }
  .map {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .main_container {
    width: 90%;
  }
  ._2_block_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._2_block {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._3_block_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._3_block {
    width: 75%;
  }
  .image {
    text-align: center;
  }
  .hero_h1 {
    font-size: 40px;
  }
  .card_h3 {
    font-size: 30px;
    text-align: center;
  }
  .heading-11 {
    font-size: 40px;
  }
  .section_h2 {
    font-size: 34px;
  }
  .grid-2 {
    grid-row-gap: 16px;
    grid-template-areas: "Area Area";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 16px auto 16px auto;
    grid-template-rows: auto auto auto;
  }
  .main_container_ctr {
    width: 90%;
  }
  ._2_link_block {
    width: 90%;
  }
  .main_para {
    text-align: center;
  }
  ._75_block {
    text-align: center;
  }
  .paragraph-4 {
    text-align: center;
  }
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .column-2 {
    text-align: left;
  }
  .footer_block {
    text-align: center;
  }
  .paragraph-5 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .ends_container {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .navbar {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border-style: none none solid;
    border-width: 1px;
    border-color: #fff;
  }
  ._2_block {
    padding: 0px 0px 25px;
  }
  .nav-menu {
    background-color: #3c86e5;
  }
  ._3_block_row {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  ._3_block {
    width: 100%;
  }
  .divide {
    position: static;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .hero_h1 {
    padding-left: 10px;
    font-size: 36px;
  }
  .hero_para {
    padding-left: 10px;
  }
  .explore_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img_block_about_us {
    height: 250px;
  }
  .heading-11 {
    font-size: 30px;
  }
  .blog_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .events_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section_h2 {
    font-size: 30px;
  }
  .mini_divide {
    width: 15%;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .visit_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .intro_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card_bottom {
    padding: 7px 0px;
  }
  .img_block_our_missions {
    height: 250px;
  }
  .grid-2 {
    margin-bottom: 25px;
  }
  .mb_button_margin {
    margin-left: 10px;
  }
  .mini_divide_left {
    width: 15%;
  }
  ._2_link_block {
    margin-bottom: 25px;
  }
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph-6 {
    text-align: left;
  }
  .collection-list-wrapper {
    margin-top: 15px;
  }
  .icon {
    color: #fff;
  }
  .menu-button {
    background-color: transparent;
  }
}

#w-node-a4dac3f3f1e1-4fa3b59b {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

@media screen and (max-width: 767px) {
  #w-node-a4dac3f3f1e1-4fa3b59b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}